
.login{
    width: 500px;
    height: auto;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    border-radius:6px;
    color: white;
}
.login>p{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
.input{
    width: 80%;
    height: 55px;
    margin: 10px auto;
}
.input>input,.yzm>input{
    width: 98%;
    height: 40px;
    border: 1px  solid white;
    border-radius:2px;
    background: none;
    color: white;
    padding-left: 2%;
}
.input>a{
    color: white;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:white;
}

.input>input[type="submit"]{
    background: #ffb400;
    border: none;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding-left: 0px;
}
.login>p.zuce{
    padding-top: 25px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}


.zuce>a{color: #fff;padding-left: 2px;padding-right: 2px}





